<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ClientesServlet</servlet-name>
        <servlet-class>clientes.ClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiciosServlet</servlet-name>
        <servlet-class>servicios.ServiciosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientesServlet</servlet-name>
        <url-pattern>/ClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiciosServlet</servlet-name>
        <url-pattern>/ServiciosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
